@charset "utf-8";

/* Set your main page size information */
body {
    background: #444444;
    font-family: verdana, arial, sans-serif;
    color: #444444;
    font-size: 12px;
    margin: 0px;
}

div#container {
    width: 800px;
    margin: 0px auto;
    background: #FFFFFF;
    padding: 0px;
}

div#content {
    width: 800px;
    padding-top: 60px;
    background: #FFFFFF;
}

/* This positions the header  in the top corner and adds some links. Everything floats inside an absolutely positioned DIV */
header {
    width: 800px;
    line-height: 60px;
    background: #82adaa;
    position: absolute;
    top: 0px;
}
div.headerLink {
    float: left;
    height: 60px;
}
div.headerLink > p {
    font-family: 'Qahiri', sans-serif; /*This is a webfont I loaded from google */
    font-size: 2em;
    height: 60px;
    margin: 0px 12px;
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    vertical-align: middle;
}
a div.headerLink, a:visited div.headerLink{
    color:#444444;
}
a:hover div.headerLink p {
    color:black;
}
img#logo {
    float:left;
    padding-right:80px;
}
div.vl { /* creates the vertical lin between links */
    border-left: 2px solid  #444444;
    height: 24px;
    float:left;
    margin-top: 19px;

}
div#HeaderSearchBox {
    float: right;
    margin-right: 25px;
}


/* Now a side navigation */
div#nav {
    width: 25%;
    float: left;
    background: rgba(112, 134, 101, 0.5);
}
div#nav ul {
    padding: 10px 0px;
}

article {
    width: 75%;
    float: right;
    background: #DDDDDD;
}

div.navblock {
    width: 180px;
    margin: 5px auto;
    border: 1px solid #DDDDDD;
}
div.navblock ul {
    list-style-type: none;
}

/* main content */

div.contentblock {
    background-image: url(../images/R.jpg);
    background-repeat: no-repeat;
    width: 580px;
    margin: 5px auto;
}

div.contentText {
    background:rgba(231, 235, 229, 0.8);
}
div.contentText p {
    font-weight: bolder;
}

/* Use these to address issues with clearning*/
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
